<div *ngIf="loading" class="loader"></div>

<div>
  <label>
    Tax Rate:
    <select #tax [value]="taxRate || 0" (change)="taxRate=tax.value">
      <option value="0">None</option>
      <option value="10">{{  0.1 | percent }}</option>
      <option value="20">20%</option>
      <option value="50">50%</option>
      <option value="150">{{ 1.5 | percent}}</option>
    </select>
  </label>
</div>

<div>
  <label>
    Category Filter:
    <select [(ngModel)]="categoryFilter">
      <option selected value="">None</option>
      <option>Watersports</option>
      <option>Soccer</option>
      <option>Chess</option>
    </select>
  </label>
</div>

<app-discount-editor [discounter]="discounter"></app-discount-editor>
<app-discount-display [discounter]="discounter"></app-discount-display>

<div
  *ngFor="let product of products | categoryFilter: categoryFilter; let i = index; trackBy: getTrakBy"
  class="card m-1 p-1 bg-light">
  <h4 [class.bg-info]="getSeleted(product)">
    <span>
      {{ i + 1 }} {{product.name}}
    </span>
    <span class="badge badge-pill text-bg-primary float-end">
      {{ product.price | addTax:(taxRate) | currency:"USD":"symbol":"3.2-2" }}
    </span>
  </h4>
  <div
    class="card-text bg-white p-1"
    appPaAttr="bg-warning"
    [pa-product]="product"
    (pa-category)="selectedProduct=$event">
    {{product.description}}
    <button class="btn btn-success btn-sm float-end">Add To Cart</button>
    <button class="btn btn-danger btn-sm float-end" (click)="deleteProduct(product.id)">Delete</button>
  </div>
</div>
