<div *ngIf="loading" class="loader"></div>

<div
  *ngFor="let product of products; let i = index; trackBy: getTrakBy"
  class="card m-1 p-1 bg-light">
  <h4 [class.bg-info]="getSeleted(product)">
    <span>
      {{ i + 1 }} {{product.name}}
    </span>
    <span class="badge badge-pill text-bg-primary float-end">
      {{ product.price | currency:"USD":"symbol":"2.2-2" }}
    </span>
  </h4>
  <div
    class="card-text bg-white p-1"
    appPaAttr="bg-warning"
    [pa-product]="product"
    (pa-category)="selectedProduct=$event">
    {{product.description}}
    <button class="btn btn-success btn-sm float-end">Add To Cart</button>
  </div>
</div>
