<div *ngIf="loading" class="loader"></div>

<div class="col-auto">
  <button class="btn btn-secondary btn-block" 
      routerLink="/exmpls/first-exmpl"
      routerLinkActive="bg-primary"
      [routerLinkActiveOptions]="{exact: true}">
      All
  </button>
  | 
  <button *ngFor="let category of categories" 
          class="btn btn-secondary btn-block px-3"
          [routerLink]="['/exmpls/first-exmpl', category]" 
          routerLinkActive="bg-primary">
      {{category}}
  </button>
</div>

<div>
  <label>
    Tax Rate:
    <select #tax [value]="taxRate || 0" (change)="taxRate=tax.value">
      <option value="0">None</option>
      <option value="10">{{  0.1 | percent }}</option>
      <option value="20">20%</option>
      <option value="50">50%</option>
      <option value="150">{{ 1.5 | percent}}</option>
    </select>
  </label>

    <label>
    Category Filter:
    <select [(ngModel)]="categoryFilter">
      <option selected value="">None</option>
      <option>Watersports</option>
      <option>Soccer</option>
      <option>Chess</option>
    </select>
  </label>
</div>

<app-discount-editor></app-discount-editor>
<!-- <app-discount-display></app-discount-display> -->
<div>
  <button class="btn btn-primary" (click)="createProduct()" routerLink="form/create">
    Create New Product 
  </button>
  <button class="btn btn-danger" (click)="deleteProduct(-1)">
    Generate HTTP Error
  </button>

  <button class="btn btn-danger" routerLink="/exmpls">
    Generate Routing Error
  </button>
  <button class="btn btn-success" routerLink="/exmpls/does/not/exist">
    Generate Routing Error
  </button>
</div>

<div class="col">
  <button class="btn btn-info mx-1" routerLink="products-count">
      Count Products
  </button>
  <button class="btn btn-primary mx-1" routerLink="category-count">
      Count Categories
  </button>
  <button class="btn btn-secondary mx-1" routerLink="/table">
      Count Neither
  </button>

  <div class="my-2">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  *ngFor="let product of products | categoryFilter: categoryFilter; let i = index; trackBy: getTrakBy"
  class="card m-1 p-1 bg-light">
  <h4 [class.bg-info]="getSeleted(product)">
    <span>
      {{ i + 1 }} : {{product.name}}
    </span>
    <span class="badge badge-pill text-bg-primary float-end">
      {{ product.price | addTax:(taxRate) | discount | currency:"USD":"symbol":"3.2-2" }}
    </span>
  </h4>
  <div
    class="card-text bg-white p-1"
    appPaAttr="bg-warning"
    [pa-product]="product"
    (pa-category)="selectedProduct=$event">
    {{product.description}}
    <button class="btn btn-success btn-sm float-end" (click)="addProduct(product.id)">Add To Cart</button>

    <!-- [routerLink]="['form', 'edit', product.id, { name: product.name, category: product.category, price: product.price}]"  -->
    <button class="btn btn-warning btn-sm" 
      [routerLink]="['form', 'edit', product.id]" 
      (click)="editProduct(product.id)">
      Edit
    </button>
    <button class="btn btn-danger btn-sm float-end" routerLink="form/create" (click)="deleteProduct(product.id)">Delete</button>
  </div>
</div>
