<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-2">
      <div class="d-grid gap-1">
        <app-category/>
        <app-product-form></app-product-form>
      </div>
    </div>
    <!-- Right -->
    <div class="col-9 p-2">
      <h4>Value: 
        <span>{{ productInput.value }}</span>
      </h4>
      

      <div class="form-group" appPaAttr="bg-warning">
        <label><input type="text" #productInput (input)="false"></label>
      </div>

      <app-toggle-view>
        <app-products/>
      </app-toggle-view>
      
    </div>
  </div>
</div>
