<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-2">
      <div class="d-grid gap-1">
        <app-category/>
        <app-product-form></app-product-form>
      </div>
    </div>
    <!-- Right -->
    <div class="col-9 p-2">
      <h4>Products Loading... 
        <span>{{ productInput.value }}</span>
      </h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked [(ngModel)]="showTable">
          Show Table
        </label>
        <ng-template [appIf]="showTable">
          <b> : SHOW TEMPLATE</b>
        </ng-template>
      </div>

      <div class="form-group" appPaAttr="bg-warning">
        <label><input type="text" #productInput (input)="false"></label>
      </div>

      <div *appIf="showTable">
        <app-products></app-products>
      </div>
      
    </div>
  </div>
</div>
