<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-2">
      <div class="d-grid gap-1">
        <app-category/>
      </div>
    </div>
    <!-- Right -->
    <div class="col-9 p-2">
      <h4>Products Loading... 
        <span>{{ selectedProduct || '(None)' }}</span>
        <span>{{ productInput.value }}</span>
      </h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked [(ngModel)]="showTable">
          Show Table
        </label>
      </div>

      <div class="form-group" appPaAttr="bg-warning">
        <label><input type="text" #productInput (input)="false"></label>
      </div>

      <template *ngIf="true">
        SHOW TEMPLATE
      </template>
      <div *ngFor="let product of products; let i = index; trackBy: getTrakBy"
       class="card m-1 p-1 bg-light">
        <h4 [class.bg-info]="getSeleted(product)">
          <span (mouseover)="productInput.value=product?.name || ''">
            {{ i + 1 }}
            {{product.name}}
          </span>
          <span class="badge badge-pill text-bg-primary float-end">
            {{ product.price | currency:"USD":"symbol":"2.2-2" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1" 
          appPaAttr="bg-warning"
          [pa-product]="product" 
          (pa-category)="selectedProduct=$event">
          {{product.description}}
          <button  class="btn btn-success btn-sm float-end">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
